Q-13. Write an SQL query to show only odd rows from aÂ table.

SELECT new_table.SNo, new_table.first_name 
FROM 
(SELECT ROW_NUMBER() OVER (ORDER BY first_name) AS SNo, first_name, last_name
FROM WORKER) AS new_table
WHERE (new_table.SNo % 2) = 1 
ORDER BY new_table.SNo;

Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE worker_copy(emp_no INT, full_name VARCHAR(30), first_name VARCHAR(30), last_name VARCHAR(30), department VARCHAR(30));



INSERT INTO worker_copy(emp_no, full_name, first_name, last_name, department)
SELECT emp_no, full_name, first_name, last_name, department FROM worker;